<div>
  <div class="row" style="margin-top: 40px;">

    <!-- Selectable content Node which is dynamically updated -->
    <mat-form-field appearance="outline">
      <mat-label>Abschnittskarte</mat-label>
      <mat-select [formControl]="selectedContent">
        <mat-option value="-1">Alle Karten</mat-option>
        <mat-option *ngFor="let content of contentNodes" [value]="content.contentNodeId">{{content.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Search bar TODO: Basic search function -->
    <mat-form-field appearance="outline">
      <mat-label>Titelname</mat-label>
      <input matInput #searchInput type="text" placeholder="Bitte eingeben...">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchInput">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- DEBUG -->
    <button (click)="onClick()">log</button>
    <p>cards: {{contentNodes.length}}</p>
    <!--  -->
  </div>

  <!-- Filter for accepted quesitons -->
  <mat-checkbox color="primary" [formControl]="solvedChecked">
    Frage als 'geklärt' gekennzeichnet?
  </mat-checkbox>

  <!-- Confirm button -->
  <div style="margin-bottom: 9px; margin-left: 5px; margin-top: 15px;">
    <button (click)="onFilterSelected()" mat-raised-button>Wählen</button>
  </div>
</div>