.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: calc(100vh - 64px);
  /* our toolbar height: 64px */
  margin: 0;
}

.app-sidenav {
  width: 230px;
}

.app-sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}