<div class="dialog-title">
    <h2>Create Concept</h2>
</div>
<div class="dialog-content">
    <p>
        <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="Concept Name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput [(ngModel)]="description" placeholder="Concept description">
        </mat-form-field>

    </p>
    <p>
        Level for current module:
        <mat-form-field>
            <mat-select [(ngModel)]="moduleGoal">
                <mat-option *ngFor="let level of levels" [value]="level">
                    {{level}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button (click)="createConcept()">Create</button>
        <button mat-raised-button (click)="cancelCreateConcept()">Cancel</button>
    </p>
</div>