<div class="question-box">
  <div class="question-row">
    <div style="padding-left: 10px; padding-top: 14px;">
      <app-vote-box [messageId]="messageData.messageId" [isSolution]="messageData.isSolution"></app-vote-box>
      <!-- solution hard coded for now -->
    </div>

    <div class="vertical-line"></div>

    <div class="vertical-container">
      <div>
        <div class="question-row">
          <mat-icon>account_circle</mat-icon>
          <p>{{messageData.authorName}}</p>
          <p>•</p>
          <p>{{messageData.createdAt}}</p>
        </div>
        <p>{{ messageData.messageText }}</p>
      </div>
    </div>
  </div>
</div>