<div class="question-box">
  <div class="question-row">
    <div style="padding-left: 10px; padding-top: 14px">
      <app-vote-box [messageId]="questionData.initMessageId" [isSolution]="questionData.isSolved"></app-vote-box>
    </div>

    <div class="vertical-line"></div>

    <div class="vertical-container">
      <div>
        <div class="question-row">
          <mat-icon>account_circle</mat-icon>
          <p>Beitrag von {{questionData.authorName}}</p>
          <p>•</p>
          <p>{{questionData.createdAt}}</p>
          <p>•</p>
          <p>Verbundener Inhalt: {{questionData.contentNodeName}}</p>
        </div>
        <h1>{{ questionData.title }}</h1>
      </div>
      <p>{{questionData.commentCount}} Kommentare</p>
    </div>
  </div>
</div>