<div class="content mat-elevation-z8">
  <div class="row">
    <h2>Filter:</h2>
    <!-- select all button -->
    <button *ngIf="allSelected" mat-raised-button>Alle</button>
    <button *ngIf="!allSelected" (click)="onAllQuestions()" mat-stroked-button>Alle</button>
    <!-- filter button -->
    <button *ngIf="allSelected" (click)="onSelectFilter()" mat-stroked-button>
      {{ filterTitle }}
      <span class="{{filterSelection ? 'arrow-up' : 'arrow-down'}}"></span>
    </button>
    <button *ngIf="!allSelected" (click)="onSelectFilter()" mat-raised-button>
      {{ filterTitle }}
      <span class="{{filterSelection ? 'arrow-up' : 'arrow-down'}}"></span>
    </button>
  </div>
  <!-- the filter seclection box -->
  <div [ngClass]="{'fade-in-out': true, 'active': filterSelection}">
    <hr>
    <app-filter-menu [contentNodes]="contentNodes"></app-filter-menu>
  </div>

</div>