.question-box {
  /*  padding-left:14px; /* please adjust when changing font size
   padding-top: 14px; /* please adjust when changing font size
  */
  font-size: 14px;
  border-radius: 10px;

  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-row {
  display: flex;
  gap: 10px;
}

.padding-box {
  padding-left: 14px;
  padding-top: 14px;
}

.vertical-line {
  border-left: 1px solid #acacac;
  height: auto;
  /* equals the max hight of question-box */
}

.vertical-container {
  min-height: 100px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  /* Anordnung der Elemente vertikal */
  justify-content: space-between;
  padding-top: 14px;
}