<div class="question-box">
  <div class="question-row">
    <div style="padding-left: 10px; padding-top: 14px">
      <app-vote-box [messageId]="messageData.messageId" [isSolution]="messageData.isSolution"></app-vote-box>
    </div>

    <div class="vertical-line"></div>

    <div class="vertical-container">
      <div>
        <div class="question-row">
          <mat-icon>account_circle</mat-icon>
          <p>Beitrag von {{discussionData.authorName}}</p>
          <p>•</p>
          <p>{{discussionData.createdAt}}</p>
          <p>•</p>
          <p>Verbundene Inhalte: {{conceptNodeName}}</p>
          <p>•</p>
          <p>{{discussionData.contentNodeName}}</p>
        </div>
        <h1>{{ discussionData.title }}</h1>
        <p>{{messageData.messageText}}</p>
      </div>
      <p>{{discussionData.commentCount}} Kommentare</p>
    </div>
  </div>
</div>